

<div class="row products">
    
    {{# each cabs}}
    <div>
            <img src="{{this.imageUrl}}">
            Marka: {{this.brand}} Model: {{this.model}}
            <br />
    </div>
    {{/each}}
</div>
