

<h1>{{ title }}</h1>
<form class="rounded-lg text-white mt-3 p-5 container w-25 shadow-lg bg-dark form-group col px-md-5" method="post" action="/users/login">
    
    <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username">
    </div>

    <div class="form-group">
        <label>Hasło</label>
        <input type="password" name="password" class="form-control"  placeholder="Password">
    </div>

    <button type="submit" class='mt-2 btn btn-secondary'>Zaloguj</button>
</form>
